.all-tours__content__figures {
  &__header {
    margin-bottom: 2rem;
    font-size: 1.4rem;
    color: var(--clr-dark-blue);
    display: flex;

    span {
      display: inline-block;
    }

    &-sort {
      display: flex;
      align-items: center;
      gap: 1rem;
      z-index: 1;
    }

    &-sort-select {
      background-color: var(--clr-white);
      border: none;
      font-family: inherit;
      color: inherit;
      font-weight: 500;
      cursor: pointer;

      &:focus {
        outline: none;
      }
    }

  }
}
