.all-tours__content__figures__figure-wrapper {
  margin-top: 3.2rem;
  border-radius: 12px;
  overflow: hidden;
  border: 1px solid var(--clr-silver);
  padding: 2rem;
  z-index: -1;
  animation-name: moveInBottom;
  animation-duration: 1s;
  //animation-delay: 0.2s;
  /*animation-iteration-count: 2;*/
  animation-timing-function: ease-out;

  @media only screen and (max-width: 58.375em) {
    padding: 0;
  }
  transition: all .4s;
  @media only screen and (max-width: 75em) {
    width: 90%;
  }
  @media only screen and (max-width: 31.25em) {
    justify-self: center;
  }

  @media only screen and (max-width: 64.375em) {
    width: fit-content;
  }

  &:hover, &:active {
    box-shadow: 0 0 9px 1px rgba(235, 102, 43, 0.4);
    transform: translateY(-4px);
    @media only screen and (max-width: 58.375em) {
      .all-tours__content__figures__figure-img {
        transform: scale(1.03);
      }
    }
  }
}

.all-tours__content__figures__figure-container {
  position: relative;
  z-index: 1;

  @media only screen and (max-width: 64.375em) {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(33rem, 1fr));
    gap: 3rem;
  }
  @media only screen and (max-width: 33.938em) {
    grid-template-columns: repeat(2, 30rem);
    justify-content: center;
  }
  @media only screen and (max-width: 31.25em) {
    grid-template-columns: 35rem;
  }
}

.all-tours__content__figures__figure {
  z-index: 999;
  //grid-template-columns: 28.4rem 41.0rem 24.6rem;
  grid-template-columns: 25fr 35fr 20fr;
  gap: 3rem;

  @media only screen and (max-width: 64.375em) {
    grid-template-columns: 1fr;
    gap: 2rem;
  }
  @media only screen and (max-width: 31.25em) {
    grid-template-columns: 40rem;
  }

  &-img {
    //position: relative;
    height: 40rem;
    border-radius: 12px;
    transition: all .4s;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;

    &-tag {
      position: absolute;
      top: 7%;
      left: 7%;
      z-index: 9;
      border-radius: 100px;
      width: 8rem;
      height: 3.5rem;
      @media only screen and (max-width: 55.4375em) {
        width: 9.2rem;
        height: 4.5rem;
      }
      @media only screen and (max-width: 35.563em) {
        width: 8rem;
        height: 3.5rem;
      }
      display: flex;
      align-items: center;
      justify-content: center;
      padding: .6rem .8rem;
      font-size: 1.3rem;
      color: var(--clr-white);
      text-transform: uppercase;

      &--20-off, &--5-off, &--10-off {
        background-color: var(--clr-primary);
      }

      &--60-off, &--90-off {
        background-color: var(--clr-strawberry-red);
      }

      &--featured {
        background-color: var(--clr-purple);
        width: 10rem;
      }

    }


    /*&::before {
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      background: linear-gradient(rgba(235, 102, 43, .3), rgba(235, 102, 43, .4));
      border-radius: 12px;
    }*/

    // add an after element to the image
    /*    &::after {
          content: '';
          width: 4rem;
          height: 4rem;
          position: absolute;
          background-color: var(--clr-light-white);
          top: 5%;
          right: 1.4rem;
          z-index: 9;
          border-radius: 100px;
        }*/

    @media only screen and (max-width: 75em) {
      width: 100%;
      object-fit: cover;
      border-radius: 12px;
      // add a position relative to the image this background will be added to
      // also, add this pseudo class under the image class itself.
      // add a background onto this image via pseudo element

    }
    @media only screen and (max-width: 64.375em) {
      clip-path: polygon(0 0, 100% 0, 100% 70%, 0 100%);
      border-radius: 0;
      border-top-right-radius: 12px;
      border-top-left-radius: 12px;
    }
  }

  &-description {
    @media only screen and (max-width: 58.375em) {
      padding-left: 2rem;
      padding-right: 2rem;
    }

    &--subheading {
      font-size: 1.4rem;
      color: var(--clr-dark-blue);
      margin-bottom: 1rem;
      margin-top: 1rem;
    }

    &-heading {
      font-size: 1.7rem;
      font-weight: 500;
      color: var(--clr-dark-blue);
      margin-bottom: 1rem;
      line-height: 1.4;
    }

    &-rating {
      gap: .4rem;
      margin-bottom: 1.6rem;
    }

    &-rate-numbers {
      color: var(--clr-dark-blue);
      display: flex;
      gap: .4rem;

      span {
        font-weight: 500;
      }
    }

    &-text {
      font-size: 1.465rem;
      color: var(--clr-dark-blue);
      margin-bottom: 1.6rem;
      line-height: 1.8;
      @media only screen and (max-width: 58.375em) {
        margin-bottom: 0;
      }
    }

    &-features {
      margin-top: 3.2rem;
      @media only screen and (max-width: 64.375em) {
        display: none !important;
      }

      &-feature {
        color: var(--clr-primary);
        font-size: 1.367rem;
      }
    }
  }

  &-details {
    color: var(--clr-dark-blue);
    text-align: center;
    border-left: 1px solid var(--clr-silver);
    padding-left: 1rem;
    @media only screen and (max-width: 58.375em) {
      padding-right: 2rem;
      padding-bottom: 2rem;
      margin-left: 2rem;
    }
    @media only screen and (max-width: 64.375em) {
      border-left: 0;
      padding-left: 0;
    }
    @media only screen and (max-width: 75em) {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    &-descr {
      display: flex;
      align-items: center;
      margin-top: 1.6rem;
      margin-bottom: 8.9rem;

      @media only screen and (max-width: 64.375em) {
        margin-bottom: 3.2rem;
      }
    }

    span {
      display: block;
    }

    &-price {
      margin-bottom: 2rem;

      span {
        font-weight: 500;
        display: inline-block;
        font-size: 1.7rem;
      }

      &--crossed {
        text-decoration: line-through;
        color: var(--clr-silver);
        margin-bottom: 1rem;
        font-size: 1.7rem;
      }
    }

    .link.all-tours__content__figures__figure-details-link {
      color: var(--clr-primary);
      display: inline-block;

      &:hover, &:active {
        text-decoration: none;
        background-color: var(--clr-primary);
        color: var(--clr-white);
        box-shadow: 0 0 6px 2px rgba(235, 102, 43, 0.4);
        transform: translateX(4px);
        @media only screen and (max-width: 64.375em) {
          transform: translateY(-4px);
        }
      }
    }

    &-link {
      padding: 1.4rem 2rem;
      background-color: var(--clr-white);
      border: 1px solid var(--clr-primary);
      border-radius: 12px;
      font-weight: 500;
    }
  }

}

.all-tours__content__figures__figure-img {
  object-fit: cover;
}

.all-tours__content__figures__figure-img-container {
  position: relative;
  width: 28rem;
  height: 28rem;
  overflow: hidden;
  border-radius: 12px;

  @media only screen and (max-width: 64.375em) {
    width: 100%;
    height: 40rem;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;

  }
}