.description.container {
  padding-top: 0;
  animation-name: moveInTop;
  animation-duration: 1s;
  //animation-delay: 0.2s;
  /*animation-iteration-count: 2;*/
  animation-timing-function: ease-out;
}

.description {
  &__stats-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media only screen and (max-width: 47.1875em) {
      flex-direction: column;
      gap: 3rem;
    }
  }

  &__tag {
    gap: 2rem;
    margin-bottom: 3rem;

    &--text {
      background-color: var(--clr-primary);
      padding: 1.2rem 1.8rem;
      border-radius: 10rem;
      font-weight: 500;

      &-1 {
        color: var(--clr-primary);
        background-color: rgba(235, 102, 43, .1);
      }

      &-2 {
        color: var(--clr-dark-blue);
        background-color: var(--clr-light-white-2);
      }
    }
  }

  &__heading {
    color: var(--clr-dark-blue);
    font-weight: 600;
    line-height: 1.6;
    font-size: 4rem;
    @media only screen and (max-width: 41em) {
      font-size: 3.2rem;
    }
    @media only screen and (max-width: 30.0625em) {
      font-size: 2.8rem;
    }
    @media only screen and (max-width: 26.75em) {
      font-size: 2.6rem;
    }
  }

}
