
.MuiInputBase-input {
  font-size: 1.5rem;
  padding: 0;
  background-color: #fff;
}


.MuiPickersLayout-root {
  font-family: 'Inter', sans-serif;
  font-size: 1.6rem !important;
  background-color: #fff;


  span, div {
    font-size: 1.2rem;
  }

  button {
    font-size: 1.1rem;
  }

  svg {
    font-size: 2rem;
  }
}

