.hero__second-part {
  position: relative;
}

.where-to-popup {
  opacity: 1;
  visibility: visible;
  z-index: 9999;
  background-color: #fff;
  position: absolute;
  top: 8.2rem;
  left: 0;
  width: 77rem;
  margin: 0 auto;
  border-radius: 12px;
  border: 1px solid var(--clr-silver);
  padding: 3rem 4.6rem;

  &-loading-screen-container {
    display: grid;
    gap: 1.6rem;
  }

  @media only screen and (max-width: 57.3125em) {
    width: 60rem;
    left: 2rem;
  }

  @media only screen and (max-width: 32.0625em) {
    width: 100%;
    left: 0;
    padding: 2rem 2.4rem;
    span, p {
      font-size: 1.4rem;
    }
  }

  &__element, {
    &--search-all {
      gap: 1.1rem;

      &:hover, &:active {
        cursor: pointer;
        background-color: var(--clr-light-white-2);
        border-radius: 12px;
      }
    }

    // each of these els should have margin bottom of 1.6rem, except the last one
    &:not(:last-child) {
      margin-bottom: 1.6rem;
    }

    &__image {
      width: 5.3rem;
      height: 5.3rem;
    }

    transition: all .3s;

    &:hover, &:active {
      cursor: pointer;
      background-color: var(--clr-light-white-2);
      border-radius: 12px;
    }

    &__image-wrapper {
      position: relative;
      width: 5.3rem;
      height: 5.3rem;
      object-fit: cover;
      border-radius: 12px;
    }

    gap: 1.1rem;

    &__data {
      text-align: left;
      width: 100%;

      &-span {
        font-weight: 600;
        font-size: 1.857rem;
        display: inline-block;

        &:not(:last-child) {
          margin-bottom: .2rem;
        }
      }

      &-country {
        font-size: 1.4rem;
        color: var(--clr-silver-dark);
      }
    }
  }

  &__search-icon {
    width: 2rem;
    height: 2rem;
  }

  &__location {
    &-icon {
      width: 1.7rem;
      height: 2.3rem;

      &-wrapper {
        padding: 1.6rem 1.7rem;
        width: 5.3rem;
        height: 5.3rem;
        border-radius: 12px;
        border: 1px solid var(--clr-silver);
      }
    }
  }
}

.search-req {
  margin-right: 1rem;
  display: inline-block;
}
