.burger-link {
  font-size: 2.4rem;
  color: var(--clr-blue-lighter);
  cursor: pointer;
  transition: all .4s;
  text-decoration: none;

  &:hover, &:active {
    color: var(--clr-primary);
  }
}

.active {
  font-weight: 600 !important;
  color: var(--clr-primary) !important;

  &:hover, &:active {
    color: var(--clr-white) !important;
  }
}

.account-settings__element-title.delete-account.delete-account-active {
  font-weight: 600;
  background-color: var(--clr-strawberry-red);
  color: var(--clr-white);
}