@import 'animations/keyframes';

// main variables
:root {
  // colors
  --clr-primary: #EB662B;
  --clr-primary-lighter: #d45c27;
  --clr-primary-light: #F28555;
  --clr-primary-darker: #aa4a1f;
  --clr-dark-yellow: #E2AD64;
  --clr-light-yellow: #FDF0EA;
  --clr-dark-blue: #05073C;
  --clr-blue-lighter: #1E2050;
  --clr-light-green: #EFF7F1;
  --clr-light-orange: #FFE5E5;

  --clr-white: #fff;
  --clr-light-white: #FEF7F4;
  --clr-light-white-2: #F5F5F5;
  --clr-grey-3: #EFEEEE;
  --clr-silver: #E7E6E6;
  --clr-grey: #989898;
  --clr-darker-grey: #757575;
  --clr-darker-grey-2: #5e5e5e;
  --clr-purple: #4A43C4;
  --clr-black: #000;
  --linear-orange-and-light-orange: #EB662B, #F28555;
  --clr-strawberry-red: #fa1e2d;
  --clr-strawberry-red-darker: #d90f1b;

  // font
  --font-inter: 'Inter', serif;
}

//  fonts
// icons, if there are

// root variables

// basic styles
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // disable the ability to zoom in on the page
  touch-action: manipulation;
}

*::before,
*::after {
  box-sizing: inherit;
}

.color-blue-lighter {
  color: var(--clr-blue-lighter);
}

*:focus {
  outline: none;
  /*    outline: dotted 2px var(--clr-primary);
      border-radius: 10rem;
      padding-top: .4rem;
      padding-bottom: .4rem;
      box-shadow: 0 0 0 2px var(--clr-primary-light);
      border-radius: 3px;*/
}

.focus {
  outline: dotted 2px var(--clr-primary);
  border-radius: 10rem;
  transform: translateY(-2px);
}

.no-focus {
  outline: none;
}

*::selection {
  background-color: var(--clr-primary);
  color: var(--clr-white);
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  @media only screen and (max-width: 75em) {
    font-size: 50%;
  }
  @media only screen and (max-width: 37.5em) {
    font-size: 45%;
  }
}

body {
  font-family: var(--font-inter), serif;
  font-weight: 400;
  overflow-x: hidden;
  font-size: 1.6rem;
  padding-left: 3.2rem;
  padding-right: 3.2rem;
  transition: padding-right .3s;
  @media only screen and (max-width: 37.5em) {
    padding: 1.6rem;
    padding-top: 0;
  }

}

input {
  font-family: inherit;

  &:focus {
    outline: none; // Add this line to remove the outline when the input is focused
  }
}

.container {
  max-width: 127.9rem;
  padding: 3.2rem;
  margin: 0 auto;
}

li {
  list-style: none;
}

.link {
  &-marked {
    font-weight: 500;
    padding: 1.4rem 2rem;
    background-color: var(--clr-primary);
    color: var(--clr-white) !important;
    border-radius: 10rem;

    &:hover, &:active {
      text-decoration: none !important;
      background-color: var(--clr-primary-lighter);
      color: var(--clr-white);
    }

  }

  &-active {
    color: var(--clr-primary);
    text-decoration: none;
    transition: all .3s;
    display: inline-block;

    &:hover, &:active {
      box-shadow: 0 1px 0 rgba(235, 102, 43, .6);
      transform: translateX(3%);
    }
  }
}

.link:visited,
.link:link {
  cursor: pointer;
  text-decoration: none;
  color: var(--clr-dark-blue);
  font-size: 1.4rem;
  transition: all .4s;

  &:hover, &:active {
    text-decoration: underline;
    color: var(--clr-primary);
  }

}

.paragraph {
  font-size: 1.465rem;
  line-height: 2.1rem;
  color: var(--clr-dark-blue);

  &-container {
    display: grid;
    grid-template-columns: 10px auto;
  }

  &-error {
    margin-bottom: 2.4rem;
    color: var(--clr-strawberry-red);
    font-size: 1.8rem;
    font-weight: 600;
    border: 1px solid var(--clr-strawberry-red);
    padding: 1.6rem 2.4rem;
    border-radius: 9px;

  }

  &-success {
    transition: all .4s;
    margin-bottom: 2.4rem;
    color: var(--clr-primary);
    font-size: 1.8rem;
    font-weight: 600;
    border: 1px solid var(--clr-primary);
    padding: 1.6rem 2.4rem;
    border-radius: 9px;
    animation-name: moveInBottom;
    animation-duration: 1s;
    //animation-delay: 0.2s;
    /*animation-iteration-count: 2;*/
    animation-timing-function: ease-out;
  }

  &--descr {
    gap: .5rem;
    margin-left: 2.4rem;
    margin-bottom: 2rem;
    margin-top: .4rem;

    span {
      font-weight: 500;
      color: inherit;
    }
  }

  &--share,
  &--wishlist {
    transition: all .4s;
    display: flex;
    align-items: center;
    gap: .4rem;
    font-size: 1.7rem;
    color: var(--clr-dark-blue);
    font-weight: 500;
    cursor: pointer;
    border: none;
    //transition: all .4s;
    background-color: var(--clr-white);

    &:hover, &:active {
      color: var(--clr-primary);
      transform: scale(1.04);
    }

    &--active {
      color: var(--clr-primary);
      transform: scale(1.04);
      font-weight: 600;
    }
  }

  &-hero {
    animation-name: moveInLeft;
    animation-duration: 1s;
    //animation-delay: 0.2s;
    /*animation-iteration-count: 2;*/
    animation-timing-function: ease-out;

    color: var(--clr-white);
    margin-bottom: 7rem;
    @media only screen and (max-width: 30.25px) {
      padding-left: 1.6rem;
      padding-right: 1.6rem;
    }
  }

  &-cta {
    color: var(--clr-dark-blue);
    margin-bottom: 4.4rem;
  }

  &--travel-articles-date {
    color: var(--clr-dark-blue);
    padding-right: 1.2rem;
    margin-right: 1.2rem;
    border-right: 2px solid var(--clr-silver);
  }
}

.btn {
  border: none;
  border-radius: 12px;
  font-family: inherit;
  cursor: pointer;
  text-decoration: none;


  &--next,
  &--next-activity-details {
    padding: 1.8rem 5rem;
    background: var(--clr-primary);
    width: 15rem;
    color: var(--clr-white);
    font-size: 1.6rem;
    transition: all 0.3s;
    font-weight: 600;
    margin-bottom: 3.1rem;

    &:hover, &:active {
      background: var(--clr-primary-lighter);
    }
  }

  &--forgot-btn-1 {
    color: var(--clr-primary);
    background: var(--clr-white);
    border: 1px solid var(--clr-primary);


    &:hover, &:active {
      background: var(--clr-primary-lighter);
      color: var(--clr-white);
    }
  }

  &--forgot-btn-1,
  &--forgot-btn-2 {
    padding: 1.6rem 3.2rem;
    font-size: 1.6rem;
    transition: all 0.3s;
    font-weight: 600;
    height: 5.5rem;
    @media only screen and (max-width: 37.5em) {
      height: 6rem;
    }
  }

  &--sign-in-with-google {
    width: 100%;
    height: 5.8rem;
    background: var(--clr-white);
    color: var(--clr-blue-lighter);
    font-weight: 500;
    font-size: 1.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .8rem;
    margin-bottom: 1.65rem;
    border: 1px solid var(--clr-grey-3);
    transition: all 0.4s;

    @media only screen and (max-width: 37.5em) {
      height: 6rem;
    }

    &:hover, &:active {
      background-color: #333;
      color: var(--clr-white);

    }
  }

  &--sign-in-with-github {
    width: 100%;
    height: 5.8rem;
    background-color: #333;
    color: var(--clr-white);
    font-weight: 500;
    font-size: 1.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .8rem;
    margin-bottom: 1.65rem;
    border: 1px solid var(--clr-grey-3);
    transition: all 0.4s;

    @media only screen and (max-width: 37.5em) {
      height: 6rem;
    }

    &:hover, &:active {
      background-color: #464646;
    }
  }

  &--show-more {
    margin-top: 4rem;
    display: flex;
    align-items: center;
    gap: .4rem;
    padding: 1.6rem 2.4rem;
    background-color: var(--clr-white);
    color: var(--clr-primary);
    font-size: 1.465rem;
    font-weight: 500;
    transition: all .4s;
    border: 1px solid var(--clr-primary);

    &:hover, &:active {
      background-color: var(--clr-primary-lighter);
      color: var(--clr-white);
      transform: scale(1.04);

      .icon--right-arrow {
        transition: all .4s;
        transform: translateX(15%);
      }
    }
  }

  &--submit {
    display: flex;
    align-items: center;
    gap: .4rem;
    padding: 1.6rem 2.4rem;
    background-color: var(--clr-primary);
    color: var(--clr-white);
    font-size: 1.465rem;
    font-weight: 500;
    transition: all .4s;
    border: 1px solid var(--clr-primary);

    &-disabled {
      background-color: var(--clr-grey-3);
      color: var(--clr-darker-grey);
      cursor: not-allowed !important;
      border: 1px transparent;
      pointer-events: none;
    }

    &-container {
      display: flex;
      align-items: center;
      height: 5.6rem;
    }

    &:hover, &:active {
      background-color: var(--clr-white);
      color: var(--clr-primary);
      transform: scale(1.04);

      .icon--right-arrow {
        transition: all .4s;
        transform: translateX(15%);
      }
    }
  }

  &--book-now,
  &--book-now-responisve {
    margin-top: 2.4rem;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: .4rem;
    padding: 1.6rem 2.4rem;
    background-color: var(--clr-primary);
    color: var(--clr-white);
    font-size: 1.465rem;
    transition: all .4s;
    border: 1px solid var(--clr-primary);
    font-weight: 600;

    &-container {
      // the button should be 35rem in width
      width: 35rem;
      display: none;
      @media only screen and (max-width: 62.625em) {
        display: flex;
      }
    }

    &:hover, &:active {
      background-color: var(--clr-white);
      color: var(--clr-primary);
      box-shadow: 0 0 20px 1px rgba(235, 102, 43, 0.4);

      .icon--right-arrow {
        transition: all .4s;
        transform: translateX(15%);
      }
    }
  }

  &--book-now-responisve {
    display: none;
    @media only screen and (max-width: 62.625em) {
      display: flex;
    }
  }

  &--book-now {
    display: flex;
  }

  &--search {
    color: var(--clr-white);
    background-color: var(--clr-primary);
    padding: 1.6rem 3.2rem;
    width: 35.2rem;
    transition: all .3s;
    font-size: 1.4rem;
    font-weight: 600;
    border-radius: 9px;
    height: 5.6rem;

    &:hover, &:active {
      background-color: var(--clr-primary-lighter);
    }
  }

  &--hero {
    height: 5.6rem;
  }

  &--hero, &--cta {
    color: var(--clr-white);
    transition: all .2s;
    display: flex;
    align-items: center;
    font-weight: 500;
    text-decoration: none;
    width: 17rem;

    &:hover, &:active {
      text-decoration: none;
      background-color: var(--clr-primary-lighter);
      color: var(--clr-white);
      transform: translateY(-3%);
    }
  }

  &--hero {
    padding: 2rem 3rem 2rem 3.8rem;
    background-color: var(--clr-primary);
    width: 20rem;
  }

  &--cta {
    padding: 2rem 3rem 2rem 3rem;
    background-color: var(--clr-primary);
    width: 20rem;
  }

  &--cta-secondary {
    transition: all .3s;
    background-color: var(--clr-white);
    color: var(--clr-purple);
    font-weight: 500;
    padding: 2rem 3rem 2rem;
    backface-visibility: hidden;
    border: 1px solid var(--clr-purple);
    width: 10rem;
    @media only screen and (max-width: 37.5px) {
      padding: 1.8rem 3rem 1.8rem;
      font-size: 1.5rem;
    }

    &:hover, &:active {
      background-color: var(--clr-purple);
      border: 1px solid var(--clr-white);
      color: var(--clr-white);
      transform: translateX(10px);

      @media only screen and (max-width: 28.5625px) {
        transform: translateX(0);
      }
    }
  }
}

.heading-scale-effect {
  transition: all 0.3s;

  &:hover, &:active {
    transform: scale(1.04);
  }
}

// for hiding sections nd then showing them when they are scrolled into view
.section--hidden {
  opacity: 0;
  transform: translateY(8rem);
}

section {
  transition: transform 1s, opacity 1s;
}

// for loading lazy images
// this class basically blurs the image and then removes the blur effect when the image is loaded
img {
  transition: filter 0.5s;
}

.lazy-img {
  filter: blur(10px);
}

.inline-block {
  display: inline-block;
}

.gap-sm {
  gap: 1.2rem;
}

.gap-md {
  gap: 2.6rem;
}

.gap-13px {
  gap: 1.3rem;
}

.gap-7px {
  gap: .7rem;

}

.gap-16px {
  gap: 1.6rem;
}

.gap-22px {
  gap: 2.2rem;
}

.gap-1rem {
  gap: 1rem;
}

.gap-15px {
  gap: 1.5rem;
}

.gap-20px {
  gap: 2rem;
}

.gap-25px {
  gap: 2.5rem;
}

.on-alpha {
  color: var(--clr-silver-dark) !important;
}

// grid utility classes
.grid {
  display: grid;
}

.grid-two-cols {
  grid-template-columns: 1fr 1fr;
}

.grid-three-cols {
  grid-template-columns: repeat(3, 1fr);
}

.grid-four-cols {
  grid-template-columns: repeat(4, 1fr);
}


.grid-five-cols {
  grid-template-columns: repeat(5, 1fr);
}

//////////////////////////////////////

// flex utility classes

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.flex-space-between {
  justify-content: space-between;
}

.flex-direction-column {
  flex-direction: column;
}

.flex.justify-center {
  justify-content: center;
}

.flex-align-center {
  align-items: center;
}

/////////////////////////////////////

// IMG, SPAN

img,
span {
  display: block;
}

.text-align-center {
  text-align: center;
}

.align-items-start {
  align-items: start !important;
}

.text-decoration-none {
  text-decoration: none !important;
}

.container {
  max-width: 124.7rem;
  padding: 3.2rem;
  margin: 0 auto;
}

.container-cta {
  max-width: 152.7rem;
  padding: 3.2rem;
  margin: 0 auto;
}

.container-trending-destinations {
  max-width: 152.7rem;
  padding: 3.2rem;
  margin: 0 auto;
}

.margin-bottom-small {
  margin-bottom: 2rem;
}

.margin-bottom-very-small {
  margin-bottom: 1rem;
}

.margin-bottom-15px {
  margin-bottom: 1.5rem;
}

.margin-bottom-18x {
  margin-bottom: 1.8rem;
}

.margin-left-73px {
  margin-left: 7.3rem;
}

.margin-bottom-36px {
  margin-bottom: 3.6rem;
}

.margin-bottom-7px {
  margin-bottom: .7rem;
}

.margin-right-very-small {
  margin-right: 1rem;
}

.margin-top-normal {
  margin-top: 1rem;
}

.margin-top-sm {
  margin-top: 2.2rem;
}

.margin-top-big {
  margin-top: 2.2rem;
}


.icon {
  &--search {
    margin-right: .6rem;
    margin-bottom: 1.4rem;
  }

  &--thumbs-up, &--thumbs-down {
    @media only screen and (max-width: 37.5em) {
      font-size: 2.2rem;
    }
  }

  &--close-sidebar {
    background-color: var(--clr-primary);
    color: #fff;
    cursor: pointer;
    top: -2.7rem;
    right: -7rem;
    width: 6rem;
    height: 6rem;
    display: none;
    position: absolute;
    border-radius: 50%;
    @media only screen and (max-width: 62.25em) {
      display: flex;
    }
  }

  &--overall-rate {
    font-size: 2.4rem;
    padding: .6rem;
    border-radius: 50%;
    color: var(--clr-black);
    background-color: var(--clr-white);
  }

  &--flag {
    margin-left: .8rem;
    margin-top: .7rem;
    font-size: 1.2rem;
    color: var(--clr-white);
  }

  &--checkmark {
    width: 1.3rem;
    height: 1.3rem;
    color: var(--clr-dark-blue);
    position: absolute;
    top: -.2rem;
    left: -3.7rem;
    padding: .6rem;
    border-radius: 50%;
  }


  &--dot {
    font-size: .5rem;
    color: var(--clr-dark-blue);
    // the icon should always be at the top of the li element
    position: absolute;
    top: .9rem;
    left: -1.3rem;
  }

  &--search--btn {
    margin-right: 1rem;
  }

  &--location, &--pin, &--clock, &--type {
    color: var(--clr-primary);
    font-size: 2rem;
    position: absolute;
    top: .1rem;
    left: 1.4rem;
    @media only screen and (max-width: 37.5em) {
      top: -.8rem;
      left: .7rem;
    }
  }

  &--filter {
    color: var(--clr-dark-blue);
    font-size: 3.6rem;
    display: none;
    cursor: pointer;
    @media only screen and (max-width: 58.375em) {
      display: flex;
    }
  }

  &--call {
    color: var(--clr-primary);
    font-size: 2.2rem;
    width: 4rem;
    @media only screen and (max-width: 26.75em) {
      font-size: 3rem;
      background-color: var(--clr-primary);
      color: var(--clr-white);
      padding: 1.2rem;
      width: 1.8rem;
      height: 1.8rem;
      border-radius: 50%;
    }
  }
}

.icon--green-bg.icon {
  background-color: var(--clr-light-green);
}

.icon--orange-bg.icon {
  background-color: var(--clr-light-orange);
}

.highlighted {
  color: var(--clr-primary) !important;
  font-weight: 600 !important;
  font-family: 'Inter', serif;
}

.cursor-not-allowed {
  cursor: not-allowed !important;
}

.cursor-pointer {
  cursor: pointer;
}

.main-heading {
  font-size: 7rem;
  font-weight: 600;
  color: var(--clr-white);
  animation-name: moveInBottom;
  animation-duration: 2s;
  //animation-delay: 0.2s;
  /*animation-iteration-count: 2;*/
  animation-timing-function: ease-out;

  @media only screen and (max-width: 30.25em) {
    font-size: 5rem;
  }
}

.secondary-heading {
  font-size: 4rem;
  font-family: inherit;
  font-weight: 600;
  color: var(--clr-dark-blue);
}

.tertiary-heading {
  font-weight: 500;
  color: var(--clr-dark-blue);
}

.subheading {
  color: var(--clr-primary);
  font-weight: 600;
  margin-bottom: 0;
  text-transform: uppercase;
  display: flex;
  justify-content: left;
}

.trending-destinations {
  row-gap: 3.8rem;
  text-align: center;
}

.no-select {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  cursor: grab;
}

button {
  font-family: 'Inter', serif;
}

// created a button to go to the top of the page. It is an absolute positioned button
.go-to-the-top-button {
  position: fixed;
  bottom: 5rem;
  right: 5rem;
  background-color: var(--clr-primary);
  color: var(--clr-white);
  border: none;
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  font-size: 2.4rem;
  display: none;
  align-items: center;
  justify-content: center;
  transition: all .7s;
  z-index: 999;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);

  @media only screen and (max-width: 50.3125em) {
    width: 6rem;
    height: 6rem;
  }

  &-icon {
    font-size: 1.8rem;
    @media only screen and (max-width: 50.3125em) {
      font-size: 2.1rem;
    }
  }

  &:hover, &:active {
    background-color: var(--clr-primary-lighter);
    //transform: translateY(-3%);
    cursor: pointer;
    box-shadow: 0 0 10px 5px rgba(235, 102, 43, 0.4);
  }

  &:active {
    //transform: translateY(20%);
  }

}

.go-to-the-top-button-visible {
  display: flex !important;
}

.hidden {
  display: none;
}

.btn-clear-filters {
  margin-top: 2rem;
  //font-family: 'Inter';
  border: 1px solid var(--clr-primary);
  border-radius: 9px;
  background-color: var(--clr-white);
  color: var(--clr-primary);
  font-size: 1.6rem;
  font-weight: 600;
  padding: 1.8rem 2.6rem;
  cursor: pointer;

}

// animations
///////////////////////
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }

  80% {
    transform: translateX(1rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}


@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }

  80% {
    transform: translateX(-1rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}


@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInTop {
  0% {
    opacity: 0;
    transform: translateY(-3rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

b {
  color: var(--clr-primary);
}

///////////////////////
.font-weight-med {
  font-weight: 500;
}

.uppercase {
  text-transform: uppercase;
}

.font-weight-bold {
  font-weight: 600;
}

.pointer-events-none {
  pointer-events: none;
}

.loading-spinner {
  width: 14rem;
  margin-left: -2rem;
  //height: 15rem;
  &-pending-request {
    width: 10rem;
    margin-left: -2rem;
  }
}

.margin-bottom-41px {
  margin-bottom: 4.1rem;
}

.color-white {
  color: var(--clr-white) !important;
}

.margin-bottom-34px {
  margin-bottom: 3.4rem;
}

.margin-bottom-4px {
  margin-bottom: .4rem;
}

.link-marked.link-log-in {
  color: var(--clr-white);
}

.input-success {
  border: 1px solid #04f891;
  background-color: #f0fff7;
}

.input-error {
  border: 1px solid #ff0000;
  background-color: #fff0f0;
}

.disabled-input-label {
  cursor: not-allowed;
  color: #989898FF !important;
}

.disabled-input-field {
  cursor: not-allowed;
  background-color: #e8e8e8 !important;
  color: var(--clr-grey) !important;
}

.user-img {
  background-color: #f1f1f1;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 7rem;
  height: 7rem;
  border-radius: 12px;
}

.border-radius-round {
  border-radius: 50%;
}

.justify-self-end {
  justify-self: end;
}

.justify-self-center {
  justify-self: center;
}

.margin-0-auto {
  margin: 0 auto;
}

.margin-top-3rem {
  margin-top: 3rem;
}

.margin-top-huge {
  margin-top: 5rem;
}

.margin-left-auto {
  margin-left: auto;
}

.margin-bottom-24px {
  margin-bottom: 2.4rem !important;
}

.justify-items-center {
  justify-items: center;
}

.css-1pxa9xg-MuiAlert-message, .MuiAlert-message.css-1xsto0d {
  font-size: 16px !important;

}

.MuiSvgIcon-root.MuiSvgIcon-fontSizeSmall.css-ptiqhd-MuiSvgIcon-root {
  font-size: 16px !important;
}

.MuiTypography-root.MuiTypography-h6 {
  font-size: 20px !important;
}

.MuiDialogContentText-root {
  font-size: 16px !important;
}

.MuiButtonBase-root.MuiButton-root {
  font-size: 16px !important;
  font-weight: 500 !important;
}

.MuiInputBase-input {
  background-color: #fff !important;
  padding: 1rem 2rem !important;
  border-radius: 5rem !important;
  border: none !important;
  font-weight: 500 !important;
  color: #f36f00 !important;

}

.MuiOutlinedInput-notchedOutline {
  border: none !important;
}