.trending-destinations {
  row-gap: 3.8rem;
  text-align: center;

  &__img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    -webkit-user-drag: none;
  }

  &-figure-wrapper {
    display: flex;
    column-gap: 3.8rem;
    overflow-x: auto;
    overflow-y: hidden;
    padding-left: 1rem;
    max-width: 160vh;
    @media only screen and (max-width: 82em) {
      max-width: 140vh;
    }
    @media only screen and (max-width: 64.1875em) {
      max-width: 110vh;
    }
    @media only screen and (max-width: 54em) {
      max-width: 100vh;
    }
    @media only screen and (max-width: 47.25em) {
      max-width: 80vh;
    }
    @media only screen and (max-width: 37em) {
      max-width: 60vh;
    }
    @media only screen and (max-width: 25.875em) {
      max-width: 40vh;
    }

    margin-right: 100vh;
    scrollbar-width: thin; /* Firefox */
    scrollbar-color: transparent transparent; /* Firefox */
    //background-color: var(--clr-primary);
    scroll-snap-type: x mandatory; /* Optional: for snapping effect */

    &-img {
      position: relative;
      min-width: 12rem;
      min-height: 12rem;
    }
  }

  &-figure {
    cursor: pointer;
    transition: all 0.3s;
    user-select: none;
    min-width: 12rem !important;
    border-radius: none;
    scroll-snap-align: start; /* Optional: for snapping effect */

    h3 {
      margin-top: 1.6rem;
    }

    &-link {
      text-decoration: none;
      color: var(--clr-dark-blue);
      border-radius: 1px;
      -webkit-user-drag: none;
      animation-name: moveInBottom;
      animation-duration: 2s;
      animation-timing-function: ease-out;
    }

    img {
      width: 12rem;
      height: 12rem;
      margin-bottom: 2.8rem;
      position: relative;
    }

    h3 {
      margin-bottom: 1rem;
    }

    &:hover, &:active {
      transform: translateY(-3%);
    }
  }
}

.trending-destinations-figure-wrapper {
  user-select: none;
  cursor: grab; /* Change cursor to indicate draggable area */
}

.trending-destinations-heading-wrapper {
  gap: 3.8rem;
}

/* Change cursor to grabbing when actually dragging */
.trending-destinations-figure-wrapper:active {
  cursor: grabbing;
}

.disable-pointer-events .trending-destinations-figure-link {
  pointer-events: none;
}