.layla-ai-btn-container {
  position: fixed;
  bottom: 3.2rem;
  right: 1rem;
  z-index: 999;
}

.layla-ai-btn {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  width: 23.5rem;
  height: 5.8rem;
  padding: 2.2rem 2.3rem;
  border-radius: 39px;
  cursor: pointer;
  background: linear-gradient(90deg, #DD95FF 0%, #FF8181 100%), linear-gradient(92deg, #F28555 1.59%, #8C4D31 174.22%);
  border: none;

  @media only screen and (max-width: 75em) {
    svg {
      width: 2rem;
      height: 2rem;
    }
  }

  p {
    font-size: 1.467rem;
    font-weight: 600;
    color: var(--clr-white);
  }

}


.ai-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  visibility: hidden;
  opacity: 0;
}

.open {
  visibility: visible !important;
  opacity: 1 !important;
  transform: translateX(0) !important;
}

.ai-box {
  position: fixed;
  top: 0;
  right: 0;
  width: 45%;
  height: 100%;
  transition: all 0.3s;
  transform: translateX(100%);

  @media only screen and (max-width: 51.9375em) {
    width: 100%;
  }

  background-color: var(--clr-white);
  z-index: 1002;
  visibility: hidden;
  opacity: 0;
  padding: 3.4rem 5.4rem 3.4rem 5.4rem;
}

.ai-box-comment-box {
  display: flex;
  align-items: center;
  gap: 1.4rem;
  margin-bottom: 2.4rem;

}

.ai-box-comment-box-logo {
  border-radius: 50%;
  padding: 1.628rem;
  width: 5.6rem;
  height: 5.6rem;
  border: 1px solid var(--clr-primary);
  display: flex;
  justify-content: center;
  align-items: center;
}

.ai-box-comment-box-logo-user {
  border-radius: 50%;
  padding: 1.628rem;
  width: 5.6rem;
  height: 5.6rem;
  border: 1.5px solid var(--clr-blue-lighter);
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;

}

.ai-box-comment-box-name-ai {
  font-weight: 600;
  font-size: 1.8rem;
  color: var(--clr-primary);
}

.ai-box-comment-box-name-user {
  font-weight: 600;
  font-size: 1.8rem;
  color: var(--clr-blue-lighter);
}

.ai-box-comment-box-time {
  font-size: 1.3rem;
  color: var(--clr-grey);
}

.ai-box-comment-box-initials-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: .4rem;
}

.ai-box-comment-text {
  color: var(--clr-blue-lighter);
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.16px;
  margin-top: -1rem;
}

.ai-box-comment-box-container {
  margin-bottom: 2.4rem;
  margin-top: 1.4rem;
}

.ai-box-comment-text-highlight {
  background: linear-gradient(90deg, #a921ef 0%, #FF8181 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 2.4rem;
  letter-spacing: -0.16px;
}


.ai-box-comment-container {
  height: 82%;
  overflow-y: auto;
  // make the scrollbar small and mor pretty
  scrollbar-width: thin;
  scrollbar-color: #ffd6c7 var(--clr-white);
}


.ai-input-container {
  margin-top: 2rem;
}

.ai-input {
  display: flex;
  height: 5.1rem;
  width: 100%;
  padding: 2.2rem 2.4rem;
  border-radius: 12px;
  align-items: center;
  gap: .8rem;
  border: none;
  background-color: #F6F6F6;
  font-size: 1.6rem;
}

.ai-input-btn-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ai-input-btn-submit {
  background-color: var(--clr-primary);
  border-radius: 100rem;
  padding: 1.2rem 2.2rem;
  margin-top: 1rem;
  color: var(--clr-white);
  font-size: 1.6rem;
  font-weight: 600;
  border: none;
}

.ai-input-btn-aside-container {
  display: flex;
  gap: 1.2rem;
}

.ai-input-btn-clear {
  border-radius: 100rem;
  padding: 1.2rem 2.2rem;
  margin-top: 1rem;
  background-color: var(--clr-grey);
  color: var(--clr-white);
  font-size: 1.6rem;
  font-weight: 600;
  border: none;
}

.ai-input-btn-hide {
  border-radius: 100rem;
  padding: 1.2rem 2.2rem;
  margin-top: 1rem;
  background-color: var(--clr-blue-lighter);
  color: var(--clr-white);
  font-size: 1.6rem;
  font-weight: 600;
  border: none;
}

.error {
  color: var(--clr-strawberry-red);
  font-weight: 600;
}

.btn-disabled {
  background-color: var(--clr-grey) !important;
  color: var(--clr-white) !important;
  cursor: not-allowed !important;
}