.description__stats {
  gap: 4rem;
  align-items: center;


  &-first-col {
    display: flex;
    gap: 2rem;
    @media only screen and (max-width: 25.1875em) {
      flex-direction: column;
      gap: 3rem;
    }
  }

  &-rating {
    cursor: pointer;
    gap: .4rem;
    align-items: center;

    &--rate {
      gap: .4rem;
    }

    img {
      width: 1.4rem;
      height: 1.4rem;
    }
  }

  &-share {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;

    &-btns {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: .5rem;
    }

    &-icons {
      gap: .6rem;
      align-items: center;
    }

    &-icon {
      width: 2rem;
      height: 2rem;
      color: var(--clr-primary);
      transition: all .4s;
      cursor: pointer;

      &:hover, &:active {
        color: var(--clr-dark-blue);
        transform: translateY(-5%);
      }
    }
  }


}
