.articles-hero {

  &-container {
    padding-top: 11.8rem;
    padding-bottom: 9.162rem;
    background-image: url("/articles/hero-bg-lower-quality.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 8rem;
    margin-left: 3.2rem;
    margin-right: 3.2rem;
    @media only screen and (max-width: 25.75em) {
      margin-left: 1.4rem;
      margin-right: 1.4rem;
    }
    //border-radius: 12px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
  }

  &__heading {
    margin-bottom: 1.7rem;

    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-delay: 0.2s;
    //animation-iteration-count: 2;
    animation-timing-function: ease-out;
    //animation-fill-mode: backwards;
    @media only screen and (max-width: 30.625em) {
      font-size: 6rem;
    }
    @media only screen and (max-width: 25.75em) {
      font-size: 4rem;
    }
  }

  &__text {
    color: var(--clr-white);
    margin-bottom: 3rem;
    animation-name: moveInBottom;
    animation-duration: 1s;
    animation-delay: 0.2s;
    /*animation-iteration-count: 2;*/
    animation-timing-function: ease-out;

  }

  &__search-articles-input {
    border: none;
    height: 7rem;
    border-radius: 100rem;
    font-size: 1.465rem;
    width: 44rem;
    position: relative;
    padding-left: 5rem;
    margin-right: 8rem;

    @media only screen and (max-width: 25.75em) {
      width: 110%;
    }

    &-container {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 6rem;
      animation-name: moveInBottom;
      animation-duration: 1s;
      animation-delay: 0.2s;
      /*animation-iteration-count: 2;*/
      animation-timing-function: ease-in;

    }
  }

  &__search-articles-button {
    position: absolute;
    right: -3.8rem;
    top: 14%;
    bottom: 0;
    @media only screen and (max-width: 25.75em) {
      right: -1.8rem;
    }

    display: flex;
    justify-content: center;
    align-items: center;
    height: 4.8rem;
    width: 4.8rem;
    border-radius: 100rem;
    font-size: 1.465rem;
    background-color: var(--clr-primary);
    color: var(--clr-white);
    margin-left: 1.5rem;

    &:hover, &:active {
      background-color: var(--clr-primary-lighter);
    }
  }

  &__icon-location {
    position: absolute;
    left: 7rem;
    top: 50%;
    transform: translateY(-50%);
    @media only screen and (max-width: 25.75em) {
      width: 2.5rem;
    }

  }
}

.culture,
.nature {
  justify-self: end;
}
