.skeleton-checkbox-ultra-container {
  margin-top: 2rem;
  display: flex;
  gap: 1.3rem;
  align-items: center;
}

.skeleton-checkbox-ultra-label-container {
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
}